fastapi
uvicorn[standard]
pydantic
pydantic-settings
langdetect==1.0.9
langchain
langchain-community
sentence-transformers
transformers
torch
faiss-cpu
pypdf
unstructured
rank-bm25
nltk
python-multipart
hf_transfer
autoawq 
langgraph
accelerate
hypercorn